/*------------------*/
/* General Styles */
/*------------------*/

body {
    --lighter-color: #fefae0;
    --light-color: #faedcd;
    --accent-color: #d4a373;
    --text-color: #232320;

    margin: 0;
    background-color: var(--lighter-color);
    color: var(--text-color);
    font-family: Biotif-Regular, Arial, sans-serif;
}

